.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: violet;
  font-weight: bold;
  font-family: fantasy;
}


h1 .best {
  font-size: 200px
}

.wow {
  color: purple;
  font-family: cursive;
}

.float {
  float: right;
}

.navi {
  width: 20%;
  float: right;
  background-color: lightpink;
}

.col {
  width: 200px;
  float: right;
}

img {
  width: 15%;
  height: auto;
}
